# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Node
node_modules/
# allow .next to be committed by CI (we'll commit built artifacts)
!.next/

# macOS
.DS_Store

# Static
staticfiles/

# Logs
*.log
